.skills-container {
    .title {
        color: #000;
        font-size: 2rem;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 900;
    }

    .skills {
        gap: 1%;

        .skill {
            width: 46%;
            justify-content: space-between;
            font-size: 1.2rem;
    
            .full-star {
                color: gold;
            }
        }
    }
}