<div class="aboutme-container w-100 d-flex align-items-center justify-content-center">
    <div class="w-50 d-flex flex-column align-items-center">
        <div class="title px-3 py-2 mb-4">About me</div>
        <div class="d-flex align-items-center">
            <div class="my-photo me-5"></div>
            <div class="description">Hi, my name is <b>Oleksandr Podvazhuk</b>. I'm a Full-Stack Developer from Malvern, United Kingdom. 
                Qualified, highly motivated, determined and productive Full Stack Software 
                Developer with experience in achieving tangible results and cross-team 
                collaboration. Looking for challenging tasks that require all the ingenuity and 
                imagination to get solved. I am attentive to details, self and quick learner, team 
                player with excellent interpersonal communication skills. Able to work under 
                pressure and meet tight deadlines, have good time management skills. Proactive 
                and excited to partner with like-minded individuals to achieve goals.</div>
        </div>
    </div>
</div>
